@import "assets/css/variables.scss";

@keyframes loading {
  0% {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2999;
    border-radius: 0px;
    background-color: #f5f5f5;
  }
  50% {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0px;
    background-color: #f5f5f5;
  }
  100% {
    background-color: #ffffffe3;
  }
}

@keyframes img-loading {
  0% {
    width: 30%;
  }
  50% {
    width: 30%;
  }
  100% {
    width: 60px;
  }
}

.logo {
  position: fixed;
  top: 3px;
  left: 10px;
  z-index: 88;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 50px;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
  
  &::after {
    content:'';
    top: 5px;
    left: 0;
    border-bottom-right-radius: 20px;
    transform:translateX(100%) rotate(45deg);
    width:60px;
    height:27px;
    position: absolute;
    z-index:1;
    animation: slide 8s infinite 5s;
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(32, 34, 36, 0) 99%,rgba(125,185,232,0) 100%);
  }
  
  /* animation */
  
  @keyframes slide {
    0% {
      transform:translateX(-100%);
      display: block;
    }
    15% {
      transform:translateX(100%);
      display: none;
    }
    100% {
      transform:translateX(100%);
    }
  }

  img {
    width: 60px;
    min-width: 60px;
    opacity: 1.5;
    animation: img-loading 1000ms ease;
  }
  animation: loading 1000ms ease;
}

.map { 
  width: 100%;
  height: 100%;
}

@keyframes keyword-info-ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.7;
  }
}

@keyframes keyword-info-ani2 {
  0% {
    opacity: 0.9;
    visibility: visible;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

@include mobile {
  .keyword-info {
    background-color: white;
    position: fixed;
    top: 60px;
    right: 10px;
    z-index: 88;
    padding: 5px;
    border-radius: 8px;
    font-size: 10px;
    opacity: 0.7;
    visibility: hidden;
    animation: keyword-info-ani2 5000ms ease-out;
  }
}

@include desktop {
  .keyword-info {
    background-color: white;
    position: fixed;
    top: 10px;
    right: 150px;
    z-index: 88;
    padding: 10px;
    border-radius: 10px;
    font-size: 12px;
    opacity: 0.7;
    animation: keyword-info-ani 2000ms ease-in-out;
  }
}