@import "assets/css/variables.scss";

html {
  --inner-height: 300px;
  --mobile-border: 10px;
  --scroll-width: 0px;
  --scroll-width-default: 0px;
  --scroll-transition: all ease 300ms;
}

@include mobile {
  .sidebar-keyword {
    display: none;
  }
}

@include desktop {
  .sidebar-keyword {
    position: fixed;
    top: 0;
    left: 80px;
    z-index: 109;
    width: 350px;
    height: 100%;
    background-color: #f5f5f5;
    text-align: start;
    .handle {
      position: fixed;
      left: 430px;
    }
    .inner {
      margin: 30px;
      .header {
        margin-bottom: 30px;
        font-weight: bold;
        display: flex;
        align-items: center;
        .location-img {
          width: 20px;
        }
      }
      .rank {
        .item {
          background-color: white;
          margin-bottom: 10px;
          padding: 10px;
          border-radius: 10px 10px 10px 0px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .item-rank1 {
            background-color: rgb(255, 217, 0);
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100px;
            font-weight: bold;
          }
          .item-rank2 {
            background-color: rgb(174, 174, 174);
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100px;
            font-weight: bold;
          }
          .item-rank3 {
            background-color: #dda165;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100px;
            font-weight: bold;
          }
          .item-rank-loser {
            background-color: #f5f5f5;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100px;
            font-weight: bold;
          }
          .item-keyword {
            font-weight: bold;
            text-align: start;
            width: 160px;
          }
          .item-count {
            width: 30px;
            font-size: 12px;
            color: #979797;
          }
        }
      }
    }
  }
}
