.chat-item {
  display: flex;
  cursor: pointer;

  .nickname-container {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
    color: white;
    font-size: 16px;
    line-height: 35px;
    margin-top: 5px;
  }
  
  .contents-container {
    position: relative;
    width: calc(100% - 45px);
    margin-left: 10px;
    &>div {
      margin-left: 5px;
    }
    .up {
      font-size: 12px;
      font-weight: bold;
      display: flex;
      width: 100%;
      
      div {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .time {
        margin-left: 10px;
        color: rgba(0, 0, 0, 0.4);
      }
    }
    .location {
      font-size: 10px;
      text-align: start;
      margin: 4px 8px 0px 8px;
      display: flex;
      align-items: center;
      .location-img {
        width: 20px;
        margin-right: 8px;
        animation-duration: 5s;
      }
    }
    .down {
      font-size: 16px;
      text-align: start;
      margin-bottom: 10px;
    }
    .chat-item-img {
      text-align: start;
      img {
        width: 70%;
      }
    }
  }
}