$breakpoint: 500px;

@mixin mobile {
  @media (max-width: #{$breakpoint - 1px}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$breakpoint}) {
    @content;
  }
}

.chat-list {
  padding: 0 20px;
  display: flex;
  flex-direction: column-reverse;
  touch-action: pan-y;
}