@import "assets/css/variables.scss";

.intro-modal-back {
  background-color: rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 110;
}

.intro-modal {
  --intro-width: min(max(85%, 500px), 1080px);
  position: fixed;
  top: calc(50% - var(--intro-width) * 9 / 32);
  left: calc(50% - var(--intro-width) / 2);
  width: var(--intro-width);
  z-index: 111;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);

  .intro-wrapper {
    display: flex;
    position: relative;
    width: 100%;
    padding-bottom: 56%;
    height: 0;

    div {
      position:absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      background-size: cover;
      overflow: hidden;
      .intro-img {
        position: absolute;
      }
    }
    .frame_0 {
      background-image: url("../../assets/intro/frame0.png");
      .intro-logo {
        top: 32%;
        left: 40%;
        width: 20%;
        height: 26%;
        animation: intro-logo ease-out 1s;
      }
    }
    .frame_1 {
      background-image: url("../../assets/intro/frame1.png");
      .macbook {
        top: 0;
        left: 26%;
        width: 80%;
        height: 100%;
        animation: intro-mac ease-out 1s;
      }
    }
    .frame_2 {
      background-image: url("../../assets/intro/frame2.png");
      .pixel {
        top: 10%;
        left: 15%;
        width: 30%;
        height: 78%;
        animation: intro-pixel ease-out 1s;
      }
    }
    .frame_3 {
      background-image: url("../../assets/intro/frame3.png");
      .search-beanzido {
        top: 60%;
        left: 10%;
        width: 40%;
        height: 10%;
        animation: intro-search ease-out 1500ms;
      }
      .iphone {
        top: 0;
        left: 48%;
        width: 50%;
        height: 70%;
        animation: intro-iphone ease-out 1s;
      }
    }
    .back, .front {
      position: absolute;
      top: 0;
      width: 50%;
      height: 100%;
      background: none;
      cursor: pointer;
      opacity: 0;
      transition: opacity ease 1s;
      &:hover {
        opacity: 0.5;
      }
      &:active {
        transition: opacity ease 300ms;
        opacity: 1;
      }
    }
    .back {
      left: 0;
      background: linear-gradient( to left, transparent 10%, rgba(0, 0, 0, 0.4));
    }
    .front {
      left: 50%;
      background: linear-gradient( to right, transparent 10%, rgba(0, 0, 0, 0.4));
    }
  }
}

@keyframes intro-logo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes intro-mac {
  from {
    opacity: 0;
    transform: translate(50px, 0);
  }
  to {
    opacity: 1;
  }
}
@keyframes intro-pixel {
  from {
    opacity: 0;
    transform: translate(0, 50px);
  }
  to {
    opacity: 1;
  }
}
@keyframes intro-iphone {
  from {
    opacity: 0;
    transform: translate(100px, 0);
  }
  to {
    opacity: 1;
  }
}
@keyframes intro-search {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: translate(0, 10px);
  }
  100% {
    opacity: 1;
  }
}
@include desktop {
  .intro-modal{
    background-color: transparent;
    .intro-base {
      display: none;
    }
  }
}

@include mobile {
  .intro-modal {
    left: 10px;
    top: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border-radius: 10px;
    overflow: auto;
    background-color: #BDDB79;
    .intro-base {
      width: 100%;
      border-radius: 10px;
      overflow: hidden;
    }
    .intro-wrapper {
      display: none;
    }
  }
}