.App {
  text-align: center;
  position: relative;
  
  @font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  font-family: 'GmarketSansMedium';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.create-button {
  position: absolute;
  bottom: 5%;
  left: calc(50% - 40px);
  z-index: 89;
  width: 80px;
  height: 80px;
  transition: all ease 0.2s 0s;

  &:hover {
    cursor: pointer;
    filter: brightness(1.05);
    
  }
  &:active {
    filter: brightness(0.9);
  }
}

.feedback-button {
  position: absolute;
  top: 2%;
  right: 1%;
  // bottom: 85%;
  // left: 90%;
  z-index: 89;
  width: 80px;
  height: 80px;
  transition: all ease 0.2s 0s;
  cursor: pointer;

  &:hover {
    filter: brightness(1.05);
    
  }
  &:active {
    filter: brightness(0.9);
  }
}