.feedback-button {
  position: absolute;
  bottom: 30%;
  left: calc(50% - 40px);
  z-index: 89;
  width: 80px;
  height: 80px;
  transition: all ease 0.2s 0s;

  &:hover {
    cursor: pointer;
    filter: brightness(1.05);
    
  }
  &:active {
    filter: brightness(0.9);
  }
}